* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../carpeta\ img/superficie-metal.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    border-bottom: 15px double rgb(65, 63, 63);
    background-color: rgb(14, 13, 13);
    margin-bottom: 10px;
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1 {
    color: brown;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

nav {

    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: (weight);
    font-style: normal;
    font-size: 50px;
}

nav li {
    list-style: none;
    display: inline;
}

nav a {
    text-decoration: none;
    color: brown;
    border: 3px double brown
}

section {
    margin: 25px
}

.contenedor_limite {
    background-color: rgba(100, 27, 27, 0.479);
    margin: 0 auto;
    max-width: 1900px;
    text-align: center;
    padding: 55px;
    border: 1px solid black;
    border-radius: 25px;
}

h2 {
    color: rgb(194, 59, 59);
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 50px;

}

p {
    color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: (weight);
    font-style: normal;
    font-size: 30px;
}



.padre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 55px;


}

.card-uno {
    max-width: 500px;
    background-color: rgba(100, 27, 27, 0.479);
    border: 5px solid black;
    padding: 30px;
    text-align: center;
    border-radius: 5px;

}

.card-uno img {
    height: 580px;
    width: 400px;
}

.card-uno h2 {
    font-size: 40px;
}


.contenedor_limite-3 {
    max-width: 1900px;
    padding: 25px;
    margin: 0 auto;
}

.padre-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.card-2 {
    width: 450px;
    border: 18px solid rgb(0, 0, 0);
    background-color: black;

}

.card-2 img {
    height: 600px;
    width: 100%;
}

footer {
    border-top: 15px double rgb(65, 63, 63);
    background-color: rgb(14, 13, 13);
    margin-top: 10px;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer h5 {
    color: brown;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}

i {
    font-size: 22px;
    background-color: aliceblue;

}

footer li {
    list-style: none;
    display: inline;

}

footer a {
    text-decoration: none;
    color: brown;
    border: 3px double brown
}

h1:hover {
    color: rgb(0, 0, 0);
    background-image: url(../carpeta\ img/titulo-a.jpg);
}

nav a:hover {
    color: rgb(255, 117, 117);
}

footer a:hover {
    color: rgb(255, 117, 117);
}

@media screen and (max-width:760px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    h1 {
        font-size: 60px;

    }

    h2 {
        font-size: 40px;

    }
}

@media (hover: hover) {
    h1:hover {
        color: rgb(0, 0, 0);
        background-image: url(../carpeta\ img/titulo-a.jpg);
    }

    nav a:hover {
        color: rgb(255, 117, 117);
    }

    footer a:hover {
        color: rgb(255, 117, 117);
    }
}